@use "../../assets/colors/index.scss" as color;
@use "../../assets/fonts/index.scss" as font;
@use "../../assets/size/index.scss" as size;

.home{
    width: 100%;
    height: auto;
    max-width: 1500px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding: 3.5% 10%;
    padding-right: 15%;
    z-index: 11;

    
    .home__contac{
        position: fixed;
        top: 3%;
        left: 10%;
        font-size: 1.5rem;
        z-index: 12;
        color: color.$color__quinary;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover{
            color: white;
        }
        &:active{
            transform: scale(0.9);
        }
    }

    .home__contac.initial{
        background-color: none;
    }

    .home__contac.notShow{
        transform: translateY(-100px);
    }
    .home__contac.show{
        transform: translateY(0px);
        background-color: rgba(0,0,0,0.7);
        border-radius: 20px;
        border: 1px solid color.$color__quinary;
        padding: 1% 2%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__logo{
        display: none;
        
    }

    .home__logo.initial{
        display: block;
        position: fixed;
        top: 3%;
        right:10%;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        img{
            width: 200px;
            height: auto;
        }
    }


    .home__container{
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        display: grid;
        // grid-template-columns: 450px 450px;
        // grid-template-rows: 290px 290px ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;

        grid-template-areas: 
        " person text "
        " person scroll " !important;

        .home__container__image{
            width: 100%;
            grid-area: person;
            opacity: 0;
            img{
                width: clamp(300px, 80%, 585px);
                height: auto;
                margin-left: 20%;
                animation: fadeIn 2s ease-in-out;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }
        .home__container__text{
            grid-area: text;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                width: 100%;
                font-size: 2rem;
                opacity: 0;
                font-family: font.$font_family;
                font-weight: 400;
                color: #fff;
                margin-bottom: 20px;
                span{
                    font-size: 2rem;
                    font-family: font.$font_family;
                    font-weight: 800;
                    margin-left: 5%;
                    color: color.$color__quinary;
                }
            }
            h2{
                font-size: 1.5rem;
                font-family: font.$font_family;
                font-weight: 400;
                opacity: 0;
                color: #fff;
                margin-bottom: 20px;
            }

        }

        .home__container__scroll{
            grid-area: scroll;
            width: 70%;

            h3{
                font-size: 1.5rem;
                opacity: 0;
                font-family: font.$font_family;
                font-weight: 600;
                color: #fff;
                margin-bottom: 20px;
            }

            .home__container__scroll__icon{
                animation : icon 8s ease-in-out;
                p{
                    font-size: 0.87rem;
                    font-family: font.$font_family;
                    font-weight: 400;
                    color: color.$color__quinary;
                    margin-bottom: 20px;
                }
                
            }  
        }
    }
}

.item{
    animation: start 2s ease-in-out forwards;
    animation-delay: calc(var(--order) * 100ms);
}

@keyframes icon{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes start{
    0%{
        transform: translateY(-500px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px);
    }
}


@media (max-width: size.$device_width__tablet){
    .home{
        padding: 15px 15px;
        .home__contac{
            top: 3%;
            left: 3%;
        }
        .home__logo{
            top: 3%;
            right:3%;
            img{
                width: 200px;
                
            }
        }
       .home__container{
        grid-template-columns: 1fr 500px;
        grid-template-areas: 
        " person text"
        " scroll scroll" !important;
        margin-top: 90px;
        max-height: 1100px;
           .home__container__image{
                img{
                     width: 200%;
                     margin-left: 0;
                }
           }
           .home__container__text{
            width: 100%;
            display: block;
            margin-top: 50px;
            h1{
                font-size: 2rem;
                span{
                    font-size: 2.5rem;
                }
                margin-bottom: 3px;
            }
            h2{
                font-size: 1.5rem;
            }
        
           }
           .home__container__scroll{
            width: 100%;
            height: 300px;
           }
       }
    }
}

@media (max-width: size.$device_width){
    .home{
        .home__contac{
            top: 3% ;
            left: 5%;
        }
        .home__logo{
            top: 3%;
            right:5%;
            img{
                width: 130px;
                
            }
        }
        padding: 15px 15px;
        .home__container{
            grid-template-columns: 1fr 180px;
            grid-template-rows: 430px 1fr ;
            grid-template-areas: 
        " person text"
        " scroll scroll" !important;
        margin-top: 0;
        .home__container__image{
            display: flex;
            justify-content: flex-start;
            img{
                margin-left: 0;
                margin-top: 45px;
            }
        }
        .home__container__text{
            width: 100%;
            display: block;
            margin-top: 50px;
            h1{
                font-size: 1.5rem;
                span{
                    font-size: 1.8rem;
                }
                margin-bottom: 3px;
            }
            h2{
                text-align: right;
            }
        }
        .home__container__scroll{
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            height: 100px;
            width: 100%;

            .home__container__scroll__icon{
                width: 73%;
                height: 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                p{
                    width: 100%;
                }
            }
        }
           
        }
    }
}

