@use "../../assets/colors/index.scss" as color;
@use "../../assets/fonts/index.scss" as font;
@use "../../assets/size/index.scss" as size;

.about{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    margin: 0 auto;
    position: relative;
    padding: 3.5% 10%;
    padding-right: 15%;
    z-index: 10;

    .about__container{
        width: 100%;
        box-sizing: border-box;
        padding-top: 5%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 440px;
        grid-template-rows: 1fr 1fr;

        grid-template-areas: 
        " description study"
        "description study";

        .about__container__description{
            grid-area: description;
            width: 100%;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            transform: translate(-200px,0px);
            text-align: left;
            box-sizing: border-box;
            align-self: flex-start;
            padding-right: 20%;
            h1{
                font-family: font.$font_family;
                font-size: 2.5rem;
                color: color.$color__quinary;
                margin-bottom: 0.87em;
            }
            p{
                font-family: font.$font_family;
                font-size: 1.3rem;
                color: white;
                margin-bottom: 0.87em;
            }
        }
        .about__container__description.active{
            opacity: 1;
            transform: translate(0px, 0px);
        }

        .about__container__study{
            grid-area: study;
            transition: all 1s ease-in-out;
            opacity: 0;
            transform: translate(200px,0);
            width: 100%;
            box-sizing: border-box;
            h1{ 
                font-family: font.$font_family;
                font-size: 2rem;
                color: color.$color__quinary;
                margin-bottom: 0.87em;
                text-align: left;
            }    
            .about__container__study__item{
                .about__container__study__item__university{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    flex-wrap: wrap;
                    img{
                        width: 50px;
                        height: auto !important;
                        max-height: 50px;
                        margin-right: 0.5rem;
                    }
                    h2{
                        font-family: font.$font_family;
                        font-size: 1.5rem;
                        color: white;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
                p{
                    font-family: font.$font_family;
                    font-size: 0.87rem;
                    color: color.$color__quaternary;
                    margin-bottom: 0.87em;
                    font-weight: 400;
                    text-align: left;
                }
                h3{
                    font-family: font.$font_family;
                    font-size: 1.2rem;
                    color: white;
                    margin-bottom: 0.87em;
                    font-weight: 600;
                    text-align: left;
                }
            }

        }
        .about__container__study.active{
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }       
    


}


@media (max-width: size.$device_width__tablet){
    .about{
        padding: 20px 30px;
        
        .about__container{
            padding-top: 0%;
            grid-template-areas: 
        " description description"
        "study study";
        .about__container__description{
            h1{
                margin-top: size.$margin_title;
            }
        }
        }
    }
}

@media screen and (max-width: size.$device_width){
    .about{
        padding: 20px 15px;
        margin-top: 50px;
        .about__container{
            padding-top: 0%;
            grid-template-areas: 
        " description description"
        "study study";
        .about__container__description{
            h1{
                margin-top: size.$margin_title;
            }
        }
        }
    }
}
