
.arrow-scroll path{
    animation: arrow 0.5s ease-in-out infinite;
    animation-direction: alternate;
}



@keyframes arrow {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(-30px);
    }
}

