$color__primary: rgba(11, 19, 43, 1);
$color__secondary: rgba(28, 37, 65, 1);
$color__tertiary: rgba(58, 80, 107, 1);
$color__quaternary: rgba(91, 192, 190, 1);
$color__quinary: rgba(111, 255, 233, 1);